{{define "title"}}
    Home
{{end}}
{{define "header"}}
{{end}}
{{define "body"}}
<div class="container text-center">
    <h1>LifelogSP</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <a class="btn btn-primary btn-lg" href="/weight" role="button"><i class="fas fa-weight fa-4x"></i><br />Weight</a>
        </div>
        <div class="col-12 col-md-6">
            <a class="btn btn-primary btn-lg" href="/journal" role="button"><i class="fas fa-pencil-alt fa-4x"></i><br />Journal</a>
        </div>
        <div class="col-12 col-md-6">
            <a class="btn btn-primary btn-lg" href="/strengthtraining" role="button"><i class="fas fa-dumbbell fa-4x"></i><br />Strength training</a>
        </div>
        <div class="col-12 col-md-6">
            <a class="btn btn-primary btn-lg" href="/enduranceworkout" role="button"><i class="fas fa-running fa-4x"></i><br />Endurance workout</a>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
{{end}}

