{{define "title"}}
    Strength training
{{end}}
{{define "header"}}
{{end}}
{{define "body"}}
<div class="container text-center">
    <h1>Strength training</h1>

    <div class="alert alert-success" role="alert" data-bind="visible: successMessage().length > 0">
        Saved successfully.
    </div>
    <div class="alert alert-danger" role="alert" data-bind="visible: errorMessage().length > 0, text: errorMessage">
    </div>

    <form data-bind="submit: addStrengthtraining">
        <div class="form-group">
            <label for="exerciseInput">Exercise</label>
            <select name="exercise" id="exerciseInput" class="form-control form-control-lg" data-bind="options: exercisesValues, value: newStrengthtrainingExercise" required></select>
        </div>
        <div class="form-group">
            <label for="repsInput">Reps</label>
            <input name="reps" type="number" step="1" min="0" max="999" class="form-control form-control-lg" id="repsInput" data-bind="value: newStrengthtrainingReps" required>
        </div>
        <div class="form-group">
            <label for="weightInput">Weight</label>
            <input name="weight" type="number" step="0.25" min="0" max="999" class="form-control form-control-lg" id="weightInput" placeholder="xxx.xx in kg" data-bind="value: newStrengthtrainingWeight" required>
        </div>
        <div class="form-group">
            <label for="notesInput">Notes</label>
            <input name="notes" type="text" class="form-control form-control-lg" id="notesInput" data-bind="value: newStrengthtrainingNotes">
        </div>
        <div class="form-group">
            <label for="ratingInput">Rating</label>
            <input name="rating" type="number" step="1" min="1" max="5" class="form-control form-control-lg" id="ratingInput" data-bind="value: newStrengthtrainingRating">
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-plus-square fa-4x"></i><br />Submit</button>
            </div>
            <!--<div class="col-6">
                <a class="btn btn-success btn-lg" href="/strengthtraininggraph" role="button"><i class="fas fa-chart-bar fa-4x"></i><br />Graph</a>
            </div>-->
        </div>
    </form>

    <p>
        <a class="btn btn-secondary btn-lg" href="/" role="button"><i class="fas fa-arrow-circle-left fa-2x"></i><br />Back</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Exercise</th>
                <th scope="col">Reps</th>
                <th scope="col">Weight</th>
                <th scope="col">Notes</th>
                <th scope="col">Rating</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: strengthtrainings, visible: strengthtrainings().length > 0">
            <tr>
                <th scope="row"><span data-bind="text: date"></span></th>
                <td>
                    <a data-bind="attr: { href: '/strengthtraininggraph/' + exercise(), title: exercise }">
                        <span data-bind="text: exercise"></span>
                    </a>
                </td>
                <td><span data-bind="text: reps"></span>x</td>
                <td><span data-bind="text: weight"></span> kg</td>
                <td><span data-bind="text: notes"></span></td>
                <td><emoji-widget params="rating: rating"></emoji-widget></td>
                <td>
                    <a href="#" data-bind="click: $parent.cloneStrengthtraining"><i class="fas fa-clone fa-2x"></i></a>
                    <a href="#" data-bind="click: $parent.removeStrengthtraining"><i class="fas fa-trash fa-2x"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{end}}
{{define "scripts"}}
<script>
function Strengthtraining(data) {
    this.date = ko.observable(data.date);
    this.exercise = ko.observable(data.exercise);
    this.reps = ko.observable(data.reps);
    this.weight = ko.observable(parseFloat(data.weight).toFixed(2));
    this.notes = ko.observable(data.notes);
    this.rating = ko.observable(data.rating);
}

function StrengthtrainingListViewModel() {
    // Data
    var self = this;
    self.successMessage = ko.observable("");
    self.errorMessage = ko.observable("");
    self.strengthtrainings = ko.observableArray([]);
    self.exercisesValues = ko.observableArray([]);
    self.newStrengthtrainingExercise = ko.observable("");
    self.newStrengthtrainingReps = ko.observable("1");
    self.newStrengthtrainingWeight = ko.observable("");
    self.newStrengthtrainingNotes = ko.observable("");
    self.newStrengthtrainingRating = ko.observable("5");

    // Operations
    self.addStrengthtraining = function() {
        self.successMessage("");

        $.post("/api/strengthtraining", {
            exercise: self.newStrengthtrainingExercise(),
            reps: self.newStrengthtrainingReps(),
            weight: self.newStrengthtrainingWeight(),
            notes: self.newStrengthtrainingNotes(),
            rating: self.newStrengthtrainingRating()
        })
        .done(function(data) {
            data = data[0] // array to value
            self.successMessage(data.date);
            
            self.strengthtrainings.unshift(new Strengthtraining(data));
            self.newStrengthtrainingExercise(data.exercise);
            self.newStrengthtrainingReps(data.reps);
            self.newStrengthtrainingWeight(data.weight);
            self.newStrengthtrainingNotes("");
            self.newStrengthtrainingRating(data.rating);
        })
        .fail(function (jqXHR, textStatus, error) {
            self.errorMessage("Post error: " + error);
        });
    };
    self.removeStrengthtraining = function(strengthtraining) {
        $.ajax({
            url: '/api/strengthtraining/' + strengthtraining.date(),
            type: 'DELETE',
        })
        .done(function(data) {
            self.strengthtrainings.destroy(strengthtraining);
        })
        .fail(function (jqXHR, textStatus, error) {
            self.errorMessage("Delete error: " + error);
        });
    };
    self.cloneStrengthtraining = function(strengthtraining) {
        self.newStrengthtrainingExercise(strengthtraining.exercise());
        self.newStrengthtrainingReps(strengthtraining.reps());
        self.newStrengthtrainingWeight(strengthtraining.weight());
        self.newStrengthtrainingNotes(strengthtraining.notes());
        self.newStrengthtrainingRating(strengthtraining.rating());
    };

    // Custom components
    ko.components.register('emoji-widget', {
        viewModel: function(params) {
            var emojis = ['😠','😦','😑','😀','😍'];
            this.emoji = params.rating() > 0 && params.rating() < 6 ? emojis[params.rating() - 1] : params.rating();
        },
        template: '<span data-bind="text: emoji"></span>'
    });

    // Load initial state from server, convert it to Strengthtraining instances, then populate self.strengthtrainings
    $.getJSON("/api/strengthtraining", function(data) {
        data = data.sort((a, b) => (a.date > b.date) ? -1 : ((b.date > a.date) ? 1 : 0)); // Descending
        var mappedStrengthtrainings = $.map(data, function(item) { return new Strengthtraining(item) });
        self.strengthtrainings(mappedStrengthtrainings);
    });

    // Load exercises from the server
    $.getJSON("/api/strengthtraining/exercises", function(data) {
        self.exercisesValues(data);
    });
}

$(function () {
    ko.applyBindings(new StrengthtrainingListViewModel());
});
</script>
{{end}}
